@font-face {
    font-family: RobotoSlab-Light;
    src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: RobotoSlab-Bold;
    src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
#element::-webkit-scrollbar {
    width: 10px;
  }
  
  #element::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
  
  #element::-webkit-scrollbar-thumb {
    background-color: #062E60;
  }



body{
    margin: 0;
    padding: 0;
    color: #062E60;
    font-family: 'Roboto-Light';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 200px;
    top: 0px;
    background: #1D5394;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    width: 700px;
    height: 110px;
    font-family: 'RobotoSlab-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 57px;    
    color: rgba(255, 255, 255, 0.81); 
    padding-left: 30px;   
}
span{
    font-family: 'RobotoSlab-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: rgba(255, 255, 255, 0.81);
}
.container{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo{
    width: 150px;
    height: 150px;
}
.info1 img{
    width: 30px;
    height: 30px;
}
.info{ 
    display: flex; 
    flex-direction: column; 
    margin-left: 150px;
} 
.info1 a{ 
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #F2F2F2;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}
nav{
    display: table;
    margin: 0 auto;
    text-align: center;
}
nav a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    float: left;
    position: relative;
    font-family: 'Roboto-Regular';
}
.topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    padding: 15px 30px;
}
.topmenu li a:hover { color: #0D2440; }
.submenu-link:after {
    font-family: "Roboto-Regular";
    color: inherit;
    margin-left: 10px;
}
.submenu {
    background: #1D5394;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}
.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}



.gallery__content{ 
    margin: 0 auto; 
    position: relative; 
    margin-top: 10px; 
    width: auto;
    background-color: #f2f2f2;
} 
 
.gallery__slide{ 
    height: 628.63px; 
    width: 900px; 
    display: none; 
    margin: 0 auto;
} 
 
.gallery__slide.active{ 
    display: flex; 
    flex-direction: column; 
    gap: 7px; 
} 
 
.gallery__slide img{ 
    width: 900px; 
    height: 600.12px; 
} 
 
#prev, #next { 
    position: absolute; 
    left: 0; 
    top: 0; 
    cursor: pointer; 
    transition: opacity .2s ease-in-out; 
    height: 100%; 
    width: 275px; 
} 
 
#prev:hover, #next:hover { 
    opacity: 0.6; 
} 
 
#next { 
    background: url(../img/next.png) no-repeat center; 
    left: auto; 
    right: 0; 
} 
 
#prev{ 
    background: url(../img/prev.png) no-repeat center; 
}

.conteiner{
    background-color: #F2F2F2;
    max-width: 1526px;
    margin: 0 auto;
}
.sec1{
    background: url(../img/Frame\ 19.png) no-repeat right bottom / 1980px auto, linear-gradient(270deg, #1D5394 0%, #00295B 100%);
    padding-top: 100px;
}
.container2{
    margin-top: 100px;
    margin: 0 auto;
    display: flex;
    width: 1150px;
    height: 2750px;
    flex-direction: column;
}
h2{
    color: #FFF;
    font-size: 40px;
    font-family: 'Roboto-Bold';
    font-weight: 600;
    padding-bottom: 50px;
}
.sec1 p{
    color: #FFF;
    font-size: 18px;
}
.container2 a{
    color: #fff;
    text-decoration: none;
}




.new{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.container6{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
h3{
    color: #0D2440;
    font-size: 40px;
    font-family: 'Roboto-Bold';
    font-weight: 600;
    padding: 100px 0px 100px 0px;
}
.container-new{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
    background: #1D5394;
    padding: 50px 50px 50px 50px;
    margin-bottom: 100px;
}
.container-new span{
    color: #FFF;
    font-size: 14px;
    font-family: 'Roboto-Bold';

    
}
.container-new p{
    display: flex;
    width: 900px;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #fff;
    padding-bottom: 50px;
}
.img-new{
    width: 900px;
    height: auto;
}

.worldskills{
    margin: 0 auto;
    width: 1150px;
    height: auto;
}
.container7 span{
    color: #062E60;
    font-size: 20px;
    font-family: 'Roboto-Bold';
}
.container7 p{
    color: #062E60;
    font-size: 20px;
    width: 1150px;
    height: auto;
}
.container-worldskills-img{
    padding-top: 84px;
    padding-bottom: 84px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.world-img{
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
}
.img-worldskills{
    width: 567px;
    height: auto;
}



.conteiner1{
    background-color: #F2F2F2;
    max-width: 1526px;
    margin: 0 auto;
}

.sec5{
    background-color: #1D5394;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
}
h4{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}
.form1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}
.form2{
    display: flex;
    padding-bottom: 45px;
}
input{
    width: 300px;
    height: 40px;
    gap: 40px;
    padding-left: 20px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #d9d9d9;
}
.form2 input{
    width: 1150px;
    height: 70px;
} 
.form{
    width: 100%;
    height:100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.form input{
    border: 2px solid #93ACCA;
}
.form form input{
    display: block;
    margin: 0 auto 20px;
    width: 300px;
    height: 50px;
    padding: 15px;
    font-size: 18px;
}
.btn-form{
    background-color: #fff;
    color: black;
    font-size: 12pt;
    border: 2px solid #93ACCA;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    display: block;
    margin-bottom: 15px;
}
.btn-form:hover{
    color: black;
    font-size: 12pt;
    border: 2px solid gray;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    display: block;
    margin-bottom: 15px;
}
.form input::placeholder{
    color:#0D2440;
}
details{
    padding-bottom: 20px;
    width: auto;
    margin: 0 auto;
}
details > summary{
    display: flex;
    width: auto;
    height: 40px;
    cursor: pointer;
    list-style: none;
    background-color: #D9D9D9;
    align-items: center;
}
     
details summary span{
    padding-left: 40px;
    background: url(../img/plus.svg) no-repeat scroll 0 0;
    background-size: 32px;
    background-position: left center;
}
details[open] summary span{
    height: 24px;
    padding-left: 40px;
    background: url(../img/minus.svg) no-repeat scroll 0 0;
    background-size: 32px;
    background-position: left center;
}
.question__content span{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D2440;
}
.question__content p{
    padding-top: 12px;
    padding-left: 45px;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0D2440;
    background-color: #fff;
}
details summary::-webrit-marker {
    display: none;
}


footer{
    background: #0D2440;
}
.foot{

    height: 400px;
    display: flex;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
footer .topmenu > li > a {
    color: #D9D9D9;
}
footer .topmenu li a:hover { color: #1D5394; }
footer .submenu {
    background: #062E60;
}





@media(max-width: 1200px){
    .logo{
        width: 120px;
        height: 120px;
    }
    h1{
        font-size: 35px;
    }
    span{
        font-size: 35px;
    }
    .koledg h2{
        font-size: 25px;
    }
    h3{
        font-size: 10px;
        padding-right: 280px;
        padding-left: 30px;
        padding-top: 20px;
    }
    h4{
        font-size: 45px;
    }
    h5{
        font-size: 18px;
    }
    .info a{
        font-size: 12px;
    }
    .info{
        margin-left: -20px;
    }
    ul{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    ul li{
        font-size: 12px;
    }
    .sec2{
        font-size: 14px;
    }
    .reasons__block1{
        height: 180px;
    }
    .reasons__block2{
        height: 180px;
    }
    .reasons__block3{ 
        height: 180px;       
    }
    .reasons__block4{
        height: 180px;
    }
    .sec4{
        font-size: 10px;
        margin-top: 6px;
    }
    .section4{
        font-size: 10px;
        margin-top: 6px;
    }
    .reasons__sec1{
        height: 600px;
    }
    .reasons__sec2{
        height: 600px;
    }
    .reasons__sec3{
        height: 600px;
    }
    .reasons__sec4{
        height: 600px;
    }
    input{
        width: 200px;
    }
    #prev, #next{
        width: 130px;
    }
    .question__content span{
        font-size: 16px;
    }
    input{
        font-size: 16px;
    }
}
@media(max-width: 920px){
    .gallery__content{
        display: none;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    h1{
        font-size: 20px;
        width: 530px;
        height: 100px;
    }
    span{
        font-size: 20px;
    }
    .koledg h2{
        font-size: 20px;
    }
    h3{
        font-size: 12px;
        padding-right: 310px;
        padding-left: 20px;
        padding-top: 15px;
    }
    h4{
        font-size: 35px;
    }
    h5{
        font-size: 18px;
    }
    .info a{
        font-size: 9px;
    }
    .info{
        margin-left: -20px;
    }
    ul{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ul li{
        font-size: 10px;
    }
    .sec2{
        font-size: 12px;
        padding-top: 0px;
    }
    .span-sec{
        font-size: 16px;
    }
    .reasons__content{
        flex-direction: column;
        align-items: center;
    }
    .reasons__block1{
        height: 200px;
        width: 610px;
    }
    .reasons__block2{
        height: 200px;
        width: 610px;
    }
    .reasons__block3{ 
        height: 200px;
        width: 610px;       
    }
    .reasons__block4{
        height: 200px;
        width: 610px;
    }
    .sec4{
        font-size: 10px;
        margin-top: 6px;
    }
    .section4{
        font-size: 10px;
        margin-top: 6px;
    }
    .reasons__sec1{
        height: 600px;
    }
    .reasons__sec2{
        height: 600px;
    }
    .reasons__sec3{
        height: 600px;
    }
    .reasons__sec4{
        height: 600px;
    }
    input{
        width: 400px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    #prev, #next{
        width: 130px;
    }
    .question__content span{
        font-size: 11px;
    }
    .form1{
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .form2{
        display: flex;
        padding-bottom: 45px;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .form2 input {
        width: 400px;
        height: 70px;
    }
    details > summary{
        width: 400px;
    }
    .question__content{
        display: flex;
        flex-direction: column;
    }
    details summary span{
        background-size: 20px;
        margin-left: 10px;
    }
    footer h1{
        font-size: 20px;
        width: 400px;
    }
    footer span{
        font-size: 20px;
    }
    .info1 img{
        width: 20px;
        height: 20px;
    }
    .foot {
        height: 200px;
    }
    details[open] summary span {
        background-size: 20px;
    }

}
@media(max-width: 720px){
    header{
        display: flex;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 350px;
        top: 0px;
        background: #1D5394;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    h1{
        font-size: 30px;
        width: 568px;
        height: 110px;
    }
    span{
        font-size: 30px;
    }
    .koledg h2{
        font-size: 20px;
        text-align: center;
        padding-left: 0px;
    }
    h3{
        font-size: 8px;
    }
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 18px;
    }
    .info a{
        font-size: 9px;
        justify-content: center;
    }
    .info{
        margin-left: -20px;
    }
    ul{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    ul li{
        font-size: 9px;
    }
    .sec2{
        font-size: 12px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .reasons__block1{
        height: 165px;
        width: 500px;
    }
    .reasons__block2{
        height: 165px;
        width: 500px;
    }
    .reasons__block3{ 
        height: 165px;
        width: 500px;       
    }
    .reasons__block4{
        height: 165px;
        width: 500px;
    }
    .sec4{
        font-size: 10px;
        margin-top: 6px;
    }
    .section4{
        font-size: 10px;
        margin-top: 6px;
    }
    .reasons__sec1{
        height: 600px;
    }
    .reasons__sec2{
        height: 600px;
    }
    .reasons__sec3{
        height: 600px;
    }
    .reasons__sec4{
        height: 600px;
    }
    .sec5{
        padding-left: 100px;
        padding-right: 100px;
    }
    .question__content p {
        padding-top: 5px;
        padding-left: 15px;
        font-size: 12px;
    }
    .foot{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
        height: 370px;
    }
    ul li {
        font-size: 6px;
    }
    footer h1 {
        font-size: 20px;
        width: 340px;
        margin: 0 auto;
        padding-left: 0px;
    }
    footer p{
        font-size: 10px;
    }
    .gallery__slide {
        height: 400px;
        width: 610px;
        display: none;
        margin: 0 auto;
    }
    .gallery__slide img {
        width: 650px;
        height: 400px;
    }
}
@media(max-width: 540px){
    .logo{
        width: 80px;
        height: 80px;
    }
    h1{
        font-size: 25px;
    }
    span{
        font-size: 25px;
    }
    .koledg h2{
        font-size: 18px;
    }
    h3{
        font-size: 10px;

    }
    h4{
        font-size: 45px;
    }
    h5{
        font-size: 18px;
    }
    .info a{
        font-size: 12px;
    }
    .info{

    }
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    ul li{
        font-size: 12px;
    }
    .sec2{
        font-size: 14px;
    }
    .reasons__block1{

    }
    .reasons__block2{

    }
    .reasons__block3{ 
       
    }
    .reasons__block4{

    }
    .sec4{
        font-size: 10px;
    }
    .section4{
        font-size: 10px;
    }
    .reasons__sec1{

    }
    .reasons__sec2{

    }
    .reasons__sec3{

    }
    .reasons__sec4{

    }
    input{

    }
    #prev, #next{

    }
    .question__content span{
        font-size: 16px;
    }
    input{
        font-size: 16px;
    }
}
